body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

.header {
    background-color: #ebebeb;
    width: 495px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.nav {
    background-color: #ebebeb;
    width: 495px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.double-boxes {
    width: 535px;
    margin: 10px auto;
    text-align: center;
    display: flex;
}

.bigbox1 {
    background-color: #ebebeb;
    flex: 1.5;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.article {
    flex: 1;
    background-color: #777;
    color: #ebebeb;
    padding-top: 10px;
    margin-top: 10px;
}

.h1h2h3 {
    flex: 1;
    background-color: #ebebeb;
    color: #777;
    margin: 10px;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: bold;
}

.p {
    flex: 1;
    background-color: #ebebeb;
    color: #777;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
}

.bigbox2 {
    background-color: #ebebeb;
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 10px;
    padding-top: 20px;
}

.footer {
    background-color: #ebebeb;
    width: 495px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}